<p id="notice"><%= notice %></p>

<p>
  <strong>Company profile:</strong>
  <%= @website.company_profile_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @website.url %>
</p>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
